.banner-btn {
    border-radius: 5px;
    background: var(--Linear, linear-gradient(270deg, #F00 0%, #FF8938 100%));
}

.star {
    margin-left: 100px;
    margin-top: -100px;
}

.clients-img{
    margin-top: -15px;
    margin-left: -20px;
}
.clients-color {
    border-radius: 10px;
    background: var(--Linear, linear-gradient(270deg, #F00 0%, #FF8938 100%));
}

.footer-color {
    background: linear-gradient(270deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 137, 56, 0.10) 100%);
}